<div class="content">
	<div class="container">
		<!-- Buttons -->
		<div class="buttons">
			<input type="button" class="btn btn-dark btn-block btn-lg" value="Show cars" id="cars-btn">
			<input type="button" class="btn btn-dark btn-block btn-lg" value="Show owners" id="owners-btn">
		</div>
		<!-- Info -->
		<div class="info">
			<!-- Cars -->
			<div class="toggle-block" id="cars">
				<table class="table table-hover cars-table table-bordered">
					<thead>
					<tr class="thead-dark">
						<th>Brand</th>
						<th>Model</th>
						<th>Year</th>
						<th>Price</th>
						<th>Is new</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<!-- Owners -->
			<div class="toggle-block" id="owners">
				<table class="table table-hover owners-table table-bordered">
					<thead>
					<tr class="thead-dark">
						<th>Name</th>
						<th>Price</th>
						<th>Cars</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<!--Form-cars-owners-->
			<div class="form-cars-owners"></div>
			<!-- Form-cars -->
			<div class="form-cars"></div>
		</div>
	</div>
</div>